{
  "gisserver": {
    "roleCache": {
      "numberOfUsers": 100,
      "expiration": 5,
      "enabled": true,
      "cacheAllRolesInMemory": false
    },
    "component": "",
    "url": "",
    "nodes": [],
    "httpPort": -1,
    "httpsPort": -1,
    "id": "",
    "sharedKey": "",
    "protocol": "http",
    "enableGetRolesForUser": true
  },
  "portal": {
    "component": "portal",
    "url": "https://srv.datum.com:7443",
    "nodes": [
      "SRV.DATUM.COM"
    ],
    "httpPort": 7080,
    "httpsPort": 7443,
    "id": "0b3995fa-30b1-45cb-b211-62852929bee6",
    "sharedKey": "ljK3ELE2pXnXENpBQfV0/7ZaB9zRjQTZt8pEx1amHayrmbpBHwzcwjKxybLPyf10",
    "enableDefaultPortValidation": true
  },
  "version": "11.4.0",
  "forwardUserIdentity": true
}